@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bg-color-: rgb(48, 112, 35);
    --bg-color-2-: whitesmoke;
    --txt-color-: #000;
    --txt-color-2-: #fff;
    --txt-color-3-: #333;
    --border-color-: #999;
}


* {
    padding: 0;
    margin: 0;
    /* outline:2px solid red; */
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--txt-color-2-);

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.content .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .header img {
    width: 160px;
    border-radius: 50%;
}

.content .header p {
    color: var(--txt-color-3-);
}

.content .header span {
    /* border: none; */
    border-bottom: 2px solid var(--bg-color-);
    border-style: dashed;
    width: 90vw;
    /* height: 1px; */
    background-color: var(--txt-color-2-);
    color: var(--txt-color-2-);
    margin-top: 1.5rem;
}

.content .form {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: clamp(13rem, 23rem, 33rem);
    background-color: var(--txt-color-2-);
}

.content .form input {
    width: 100%;
    border: 0.05rem solid var(--border-color-);
    padding: 1rem 0.5rem;
    border-radius: 4px;
    padding-left: 15px;
    outline: none;
    background: transparent;
}

.content .form input ::placeholder {
    opacity: 0.1;
    font-size: 1rem;
}

.content .form .btn {
    display: inline-block;
    padding: 1rem 0.5rem;
    border: none;
    background: var(--bg-color-);
    color: var(--bg-color-);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    color: var(--txt-color-2-);
    text-align: center;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    transition: all ease-in .4s;
}

.content .form .btn:hover {
    border: 1px solid var(--bg-color-);
    background: var(--bg-color-2-);
    color: var(--txt-color-);
    box-shadow: none;
}

.content .form a {
    color: var(--bg-color-);
    transition: all ease-in .4s;
}

.content .form a:not(.btn):hover {
    text-decoration: underline;
}

/* sign up */

.signUp {
    width: 100%;
    height: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--txt-color-2-);
    overflow-x: hidden;
    padding-top: 20px;
    /* visibility: hidden; */
    transition: 0.5s;
}

.signUp .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--txt-color-3-);
    background-color: var(--txt-color-2-);
}

.signUp form {
    display: flex;
    flex-direction: column;
    /* padding: 3rem; */
    position: relative;
    justify-content: center;
    align-items: left;
    gap: 1.5rem;
    max-width: 30rem;
}

.signUp form h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.signUp form #fname {
    width: 100%;
    border: 0.05rem solid var(--border-color-);
    padding: 1rem 0.5rem;
    padding-left: 17px;
    outline: none;
    background: transparent;
}

.signUp form ::placeholder {
    /* opacity:0.1; */
    font-size: 1rem;
}

.signUp form .radio {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 0.5rem;
}

.signUp form .radio input[type="radio"] {
    font-size: 1rem;
}

.signUp form .radio label {
    font-size: 0.85rem;
    margin-right: 8px;
    font-weight: 300;
}

.signUp form .telInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.signUp form .telInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
}

.signUp form .telInfo input {

    border: 0.05rem solid var(--border-color-);
    padding: 0.75rem 0.5rem;
    padding-left: 17px;
    outline: none;
    background: transparent;
}

.signUp form .telInfo #countryCode {
    width: 80px;
}

.signUp form .telInfo #telNum {
    width: 275px;
}

.signUp form p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.signUp form .btn {
    display: inline-block;
    padding: 1rem 0.5rem;
    border: none;
    background: var(--bg-color-);
    color: var(--bg-color-);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    color: var(--txt-color-2-);
    text-align: center;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    transition: all ease-in .4s;
}

.signUp form .btn:hover {
    border: 1px solid var(--bg-color-);
    background: var(--bg-color-2-);
    color: var(--txt-color-);
    box-shadow: none;
}

.signUp form .OTP {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.signUp form .OTP input{
    border: transparent;
    padding: 0.3rem 0.5rem;
    border-bottom: 2px solid var(--border-color-);
    border-style:  dashed;
    outline: none;
    background: transparent; 
    /* width: 30px; */
    width: 200px;
    font-size: 1.5rem;
}

.signUp form .or{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.signUp form .lastP {
    margin: 1rem 0 2rem 0;
}

.signUp form .lastP a{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--txt-color-3-);
    cursor: pointer;
    transition: all ease-out .4s;
}

.signUp form .lastP a:hover{
   text-decoration: underline;
}

.signUp form .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 1.2rem 0;
}

.signUp form .icons i{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--txt-color-3-);
}





@media (max-width: 960px) {}

@media (max-width: 600px) {
    .signUp form {
        padding:3rem;
        width: 25rem;
    }
}